<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connSportShop" connectionString="Data Source=(localdb)\ProjectModels; Initial Catalog=SportShop_PV_321;Integrated Security=True;Connect Timeout=2"/>
    <add name="connAcademy" connectionString="Data Source=(localdb)\ProjectModels; Initial Catalog=Academy_PV_321;Integrated Security=True;Connect Timeout=2"/>
  </connectionStrings>
</configuration>